.grid {
  width: 1170px;
  margin: 0 auto;
}

.list {
  height: 652px;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.card {
	transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-ms-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	float: left;
	width: 110px;
	height: 110px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 30px 0 15px 15px;
}
.card:nth-child(5n) {
  margin-right: 0;
}
.card.ani0 {
	left: 948px;
	top: 426px;
}
.card.ani1 {
	left: 711px;
	top: 496px;
}
.card.ani2 {
	left: 345px;
	top: 496px;
}
.card.ani3 {
	left: 107px;
	top: 426px;
}
.card.ani4 {
	left: 526px;
	top: 496px;
}
.card.ani5 {
	left: 948px;
	top: 90px;
}
.card.ani6 {
  left: 711px;
  bottom: 0;
}
.card.ani7 {
	left: 345px;
	bottom: 0;
}
.card.ani8 {
	left: 107px;
	top: 52px;
}
body {
	background: url(../images/table.png) no-repeat;
	background-position: center;
}
